<html>
    <head>
        <title>シフトの自動作成</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <h1>結果</h1>
        <div th:each="info : ${lessonInfo}">
            <span th:text="${info}"></span>
        </div>
        <table class="table">
            <thead >
                <tr>
                    <th th:each="value : ${tableHead}" scope="col"> 
                        <span th:text="${value}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row">
                    <td th:each="value : ${tableRow1}"><span th:text="${value}"></span></td>
                </tr>
                <tr scope="row">
                    <td th:each="value : ${tableRow2}"><span th:text="${value}"></span></td>
                </tr>
                <tr scope="row">
                    <td th:each="value : ${tableRow3}"><span th:text="${value}"></span></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>